{% load bootstrap_ui_tags %}

{% if not items %}
    {% listgroup %}
        {% listgroupitem %}
            {{ content }}
        {% endlistgroupitem %}
    {% endlistgroup %}

    {% if use_tag == 'a' %}
        {% listgroupitem use_tag=use_tag link=link %}
            {{ label }}
        {% endlistgroupitem %}
    {% endif %}

    {% if use_tag == 'button' %}
        {% listgroupitem use_tag=use_tag %}
            {{ label }}
        {% endlistgroupitem %}
    {% endif %}
{% endif %}

{% include 'bootstrap_ui/listgroup.html' with type=type items=items only %}
